<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photo-api-project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>491249BE1DDE2E6200C834A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>491249D21DDE2E6300C834A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>491249DD1DDE2E6300C834A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
